* {
    padding: 0px;
    margin: 0px;
}


input{
    border: none;
    border-bottom: 2px solid black;
    background-color: rgb(241, 239, 239);
    font-family: verdana;
    font-size: 16px;
}

input:focus {
    outline: none;
    background-color: rgb(241, 239, 239);
}

/* Below are all of the classes */

.Button {
    width: 25vw; 
    font-family: Verdana; 
    font-size: 19px; 
    background-color: rgb(152, 219, 163);
}

.Button:hover {
    background-color: lightblue;
}

.wrapper {
    background:lightblue;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.menu {
    background: rgb(241, 239, 239);
    border: 3px solid rgb(98, 97, 97);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    width: 70vw;
}

.ButtonWrapper {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    height: 10vh;
    width: 60vw;
}

.title{
    display: flex;
    justify-content: space-around;
}

.addItems {
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
    padding: 5px;
    min-width: 55vw;
}

.addItem {
    margin: 5px;
}

.addButton {
    width: 15vw;
    font-family: Verdana; 
    font-size: 19px; 
    background-color: rgb(152, 219, 163);
}

.addButton:hover {
    background-color: lightblue;
}